.sectionForm {
    padding: 64px 80px 30px 80px;
    gap: 30px;
    background: #2D2D2D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionFormContainer {
    display: flex; 
    gap: 40px; 
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

/* ----- FORM BOX ----- */

.sectionFormBox {
    padding: 30px;
    gap: 32px;
    border-radius: 24px;
    background: #EAE8E4;
}

.sectionFormBox form {
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}


.inputBoxContainer {
    display: flex; 
    width: 100%; 
    justify-content: center;
}

.inputBox {
    gap: 15px; 
    display: flex; 
    width: 100%;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px 20px;
}

.formInput {
    padding: 6px 10px 6px 10px;
    gap: 10px;
    border-radius: 8px;
    width: 45%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    border: none;
}

.sectionFormSecurity {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.formInput::placeholder {
    font-size: 16px;
    color: #777777;
}

#securityVerificationInput {
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

#securityVerificationInput::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.sectionFormSecurityBox {
    display: flex; 
    gap: 20px;
}

.footerList a{
    text-decoration: none;
    color: #EAE8E4;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.56px;

}
.sectionFormSecurity h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.sectionFormSecurityBoxValues {
    display: flex;
    padding: 10px 30px 10px 30px;
    gap: 24px;
    border-radius: 8px;
    background: #DFDCD5;
}

.sectionFormSecurityValues {
    font-size: 18px;
    font-weight: 400 bold;
    line-height: 23.86px;
    color: #7D26C9;
}

#buttonResult {
    padding: 12px 40px 12px 40px;
    border-radius: 4px;
    opacity: 0.5px;
    background: #DFBBFE;
    border: none;
    margin-top: 20px;
}

#buttonResult:hover {
    cursor: pointer;
}

/* ----- FOOTER LINE SECTION ----- */

.sectionFooterLine {
    width: 100%; 
    padding: 40px 0px 0px 0px;
}

.sectionFooterLine hr {
    border: none;
    height: 1px;
    background-color: #DFBBFE ;
}

footer {
    padding: 10px 120px 0px 120px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

footer div:first-child {
    gap: 40px; 
    display: flex; 
    justify-content: center;
}

footer div:last-child h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #EAE8E4;
}

footer div:last-child ul {
    list-style-type: none; 
    padding: 0; margin: 0; 
    display: flex; 
    align-items: center; 
    gap: 40px;
}